# Ignore cache files
species_cache.json

# Ignore images (keep them local)
public/images/

# Ignore Node.js dependencies (optional, since we can reinstall)
node_modules/
birds.db
bird-pictures-953b0.json
*.json
venv/
